body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #0056b3;
    margin-bottom: 20px;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0056b3;
    margin-bottom: 10px;
}

input[type="number"], button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

input[type="number"]:focus, button:focus {
    border-color: #0056b3;
}

button {
    background-color: #0056b3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004494;
}

pre {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#gameInfo, #rankingInfo {
    margin-top: 20px;
}

#pagination button {
    margin: 5px;
}

p {
    margin: 10px 0;
}
