@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --light-primary-color: #575f8d;
  --light-secondary-color: #b993cc;
  --light-terciary-color: #424769;
  --dark-primary-color: #2D3250;
  --dark-secondary-color: #dd9051;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background-color: var(--light-primary-color);
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}