@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background-color: #160f12;
  --header-color: #0e0c12;
  --light-terciary-color: #24294c;
  --dark-secondary-color: #8b8e8e80;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background-color: var(--background-color);
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	font-weight: 500;
	letter-spacing: 0.1px;
	font-size: 13px;
}